.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 150px;
}

.contactContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 0.1rem solid var(--text-color);
  background-color: var(--background-color);
  margin: 40px auto;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 1rem;
  flex-wrap: wrap;

  span {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    a {
      p {
        font-size: 18px;
        margin: 0;
      }
    }
    img {
      width: 30px;
    }
  }
}

@media (max-width: 767px) {
  .contactContainer {
    margin: 20px auto; /* Add more margin on narrow screens */
    padding: 5rem; /* Add more padding for spacing */
  }

  .infoContainer {
    gap: 2rem;
    flex-direction: column;

    span {
      justify-content: flex-start;
    }
  }
}
