.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 40px 10px 40px;
  flex: 1 1 calc(40% - 2rem);
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: 1rem 3rem 2rem 3rem;
  min-width: 300px;
  justify-content: flex-start;
}

.skillList {
  justify-content: center;
  margin-top: 8px;
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  img {
    width: 20px;
  }
}

@media (max-width: 800px) {
  .skillsContainer {
    flex: 1 1 100%; /* On small screens, each container takes full width */
  }
}
